@import '../../global.scss';
.home {
  position: relative;
  top: 90px;
  width: 100%;
  height: calc(100% - 60px);
  border-top: 2px solid $mainColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  @include midScreen {
    flex-direction: column;
    overflow-y: unset;
    height: unset;
  }
}