@import "../../global.scss";

.sidebar {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 300px;
	height: 100%;
	padding: 30px 20px;
	overflow-y: scroll;
	scrollbar-width: none;
	border-right: 2px solid $mainColor;

	&::-webkit-scrollbar {
		display: none;
	}

	@include midScreen {
		height: unset;
		width: 100vw;
		margin-right: 0;
		padding: 50px 15px 0;
		overflow-y: unset;
	}

	button {
		display: flex;
		align-items: center;
		width: 100%;
		border: none;
		background: transparent;
		margin-bottom: 10px;
		padding: 6px;
		border-radius: 10px;
		cursor: pointer;

		@include midScreen {
			justify-content: center;
		}

		.icon {
			color: $mainColor;
			margin-right: 15px;
		}

		.name {
			color: #000;
			font-size: 16px;
			font-weight: 400;

			@include midScreen {
				font-size: 14px;
			}
		}
	}
}
