@import "../../global.scss";

.channelDetails {
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 20px 0;

	.head {
		padding-top: 85px;

		.image {
			object-fit: cover;

			.channelImg {
				width: 160px;
				border: 1px solid #eee;
				border-radius: 50%;
				transform: translateY(40px);
				overflow-y: scroll;

				@include midScreen {
					width: 100px;
				}
			}
		}
	}

	.info {
		padding-top: 40px;
		margin-bottom: 20px;

		.title,
		.subs {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 10px;

			h3 {
				@include midScreen {
					font-size: 16px;
				}
			}

			h4 {
				@include midScreen {
					font-size: 13px;
				}
			}

			.icon {
				font-size: 16px;
				color: $mainColor;
				margin-left: 10px;
			}
		}
	}

	.videos {
		@include midScreen {
			transform: translateY(40px);
		}
	}
}
