@import "./global.scss";

.app {
	width: 100vw;
	height: 100vh;
	background-color: $whiteColor;
	overflow: hidden;

	@include mobile {
		overflow-y: unset;
	}

	&.darkTheme {
		background-color: #000;
	}
}
