@import "../../global.scss";

.videoDetails {
	width: 100%;
	height: 100%;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include midScreen {
		flex-direction: column;
		height: unset;
	}

	.video {
		flex: 1 0 70%;
		height: 90%;
		padding: 40px 50px 40px 100px;
		position: relative;
		top: 85px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		@include midScreen {
			top: 125px;
			padding: 20px 0;
			height: 100%;
			width: 90vw;
			flex-direction: column;
		}

		.player {
			height: 77vh !important;
			width: 100% !important;
			margin-bottom: 20px;

			@include midScreen {
				height: 50vh !important;
			}
		}

		.details {
			width: 100%;

			h3 {
				margin-bottom: 20px;

				@include midScreen {
					font-size: 17px;
				}
			}

			.info {
				display: flex;
				align-items: center;
				justify-content: space-between;

				@include midScreen {
					justify-content: unset;
				}

				.channel {
					display: flex;
					align-items: center;
					text-decoration: none;

					h4 {
						color: #666;
						margin-right: 10px;

						@include midScreen {
							font-size: 14px;
						}
					}

					.icon {
						color: $mainColor;
						font-size: 14px;
					}
				}

				.stats {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 40%;

					@include midScreen {
						flex: 1;
						margin-left: 20px;
					}

					.upload,
					.views {
						display: flex;
						align-items: center;

						@include midScreen {
							width: 130px;
							margin-left: 10px;
						}

						.icon {
							margin-right: 10px;
							font-size: 16px;
							color: #777;

							@include midScreen {
								font-size: 14px;
							}
						}

						span {
							font-size: 14px;
							font-weight: 500;

							@include midScreen {
								font-size: 12px;
							}
						}
					}
				}
			}
		}
	}

	.relatedVideos {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		flex-basis: 30%;
		height: 100%;
		padding-top: 25px;
		overflow: hidden;

		@include midScreen {
			transform: translateY(125px);
			padding-top: 0;
			height: unset;
			flex: unset;
		}

		.videos {
			@include midScreen {
				height: unset;
				overflow: unset;
			}
		}
	}
}
